{% extends 'main/layout.html' %}

{% block title %}
Location
{% endblock %}

{% block content%}
    <div class='location'>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23055.546785268776!2d-79.45135556589865!3d43.75327319564947!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc809173cd1b996!2zNDPCsDQ1JzMwLjYiTiA3OcKwMjYnMTkuMiJX!5e0!3m2!1sru!2sca!4v1670525741167!5m2!1sru!2sca" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <span>This is our location!<br>  We will be glad if you come to us.</span>
    </div>
{% endblock %}